* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-pattern-bottom.svg);
  background-color: #c3f0ff;
  background-repeat: no-repeat;
}

.main__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
  border-radius: 20px;
  width: 400px;
  height: 500px;
}

.first__div {
  background-color: lightblue;
  background-image: url(../images/bg-pattern-card.svg);
  height: 200px;
  padding-top: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.second__div {
  background-color: #fff;
  height: 300px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.second__div2 {
  margin-top: 30px;
}

.img__div {
  margin-top: -80px;
  padding-bottom: 0;
}

.img {
  border: 8px solid #fff;
  border-radius: 50%;
  z-index: 2;
  width: 120px;
  margin-top: 20px;
}

.likes__div {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.h1 {
  font-family: cursive;
}

.span__h1 {
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.likes__h2 {
  font-family: sans-serif;
  font-size: 25px;
}

.likes__p {
  font-family: sans-serif;
  color: #808080;
}

hr {
  width: 300px;
  margin-top: 30px;
  margin-bottom: -30px;
  margin-left: 50px;
  color: #808080;
}